
<head>
	<title>Tareas de {{app.session.get('user')}} </title>
	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
</head>

<body>
	<script type="text/javascript" src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h1>Bienvenido(a) de nuevo {{app.session.get('user')}}!</h1>
			    {{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="tasks-list">
				{% include 'default/tasks/list.html.twig'%}
			</div>
		</div>
	</div>
    <script type="text/javascript">
    	$(document).ready(function() {
    		// poner fecha de hoy
    		// ...
	        
	        // configure the bootstrap datepicker
	        $('.js-datepicker').datepicker().datepicker("setDate", new Date());

	        $('[name="task_form"]').submit(function(e){
		    	e.preventDefault();
		    	var data = $(this).serializeArray();
		    	$('input[type=text].task_desk').val("Come on ");
		    	$.post('{{path("task_registration")}}', data, function(res){
		    		$('#tasks-list').html(res);
		    		// limpliar campo de tarea y setear fecha a hoy
		    		// ...

		    	});
		    	return false;
		    })
	    });
	    
    </script>    
</body>